<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>

    <!-- Подключение стилей Bootstrap CSS с помощью CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Подключение скриптов jQuery и Bootstrap JS с помощью CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Пример кода для активации выпадающего меню в Bootstrap -->
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
       
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Переключить навигацию" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Информация", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Файлы", "Index", "Files", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Платежи", "Index", "Payments", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Заказы", "Index", "Order", new { area = "" }, new { @class = "nav-link" })</li>
                    @Html.Partial("_LoginPartial")
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Индексы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Индекс пользователя", "Index", "User", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Индекс переводчика", "Index", "Translator", new { area = "" }, new { @class = "dropdown-item" })</li>
                            </ul>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            О наших работниках
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Ratings")">Рейтинг</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Certificates")">Сертификаты</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Comment")">Комментарии</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Игнатьев Дмитрий</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
